fastapi
uvicorn
aiosmtplib
pydantic
pydantic-settings
python-dotenv
python-jose[cryptography]
python-multipart
SQLAlchemy
mercadopago
requests
fpdf2
google-auth
google-analytics-data
psycopg2-binary
email-validator
httpx
passlib
bcrypt
